.carouselContainer{
 alignment: center ;
    width: auto;
    margin: 0;
    height: auto;
    box-shadow: -10px 10px 10px 10px #888888 ;
}

img{
    object-fit: cover;
     max-width: 100%;
    height: auto;
}